h1 {
  color: #005599;
  font-size: 20pt;
}

body
{
  background-color:  #F8F8FF;
}

img
{
  float: right;
  padding-left: 50px;
  padding-right: 50px;
}

ol
{
  list-style-image:url('star.png');
}

p > em  
{
    color: #FF3030;
}